<!DOCTYPE html>
<html>
<head>
  <title>Site Map page</title>
   <link rel="stylesheet" href="sitemap.css">
  <style type="text/css">
  body {
  	padding-left: 11em;
  	font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-color: #ffd310}
     ul.navbar {
     	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
     h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
          ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: black}
  a:visited {
    color: #999999}
    address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
  </style>
</head>

<body>

<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="http://0.0.0.0:3000/welcome/index">Home</a>
  <li><a href="http://0.0.0.0:3000/aboutme/index">About Me</a>
  <li><a href="resume.html">Resume</a>
  <li><a href="coding.html">Coding</a>
  <li><a href="design.html">Design</a>
  <li><a href="artwork.html">Artwork</a>
  <li><a href="contact.html">Contact Me</a>
</ul>

<!-- Main content -->
<h1>site map (where do you wanna go next?)</h1>

<p>Get to know me better.

<p>Check out where I've been, what I've done and where I hope to go next.

<p>Who knows... maybe we can connect?

<img src="http://i297.photobucket.com/albums/mm215/5fingersUp/sitemapimage_zps755dd65a.jpg" border="0" alt=" photo sitemapimage_zps755dd65a.jpg"/>

<!-- Sign and date the page, it's only polite! -->
<address>Created 19 April 2014<br>
  by Xiomara Romine.</address>

</body>
</html>

