<!DOCTYPE html>
<html>
<head>
  <title>Site Map page</title>
   <link rel="stylesheet" href="sitemap.css">
  <style type="text/css">
  body {
  	padding-left: 11em;
  	font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-color: #ffd310}
     ul.navbar {
     	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
     h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  
    address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
  </style>
</head>

<body>

<!-- Site navigation menu -->


<!-- Main content -->
<h1>about me</h1>

<img src="http://i297.photobucket.com/albums/mm215/5fingersUp/aboutmeimage_zpsa6411b39.jpg" border="0" alt=" photo aboutmeimage_zpsa6411b39.jpg"/>

<!-- Sign and date the page, it's only polite! -->
<address>Created 19 April 2014<br>
  by Xiomara Romine.</address>

</body>
</html>



